@charset "utf-8";

body {background: url(/two/image/adminbg.png) no-repeat center center fixed; 
  background-size: 100% 100%;
}

h2 {font-family:궁서;color:#800080;}

/*공지사항 리스트*/
.notice_list {border-top:2px solid #252525;border-bottom:1px groove #ccc;border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px; }
.notice_list thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle;color:#red}
.notice_list tbody td {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle;}
.notice_list tbody tr {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.notice_list tbody td.title {text-align:left; padding-left:20px}
.notice_list tbody td a {display:inline-block}
#search input[name="keyword"] {font-size: 14px; height: 20px; width: 110px; border: 1px solid #1b5ac2; outline: none; background: #ffffff;}
#search input::placeholder{color:gray; font-size: 14px;}
#search input button{width: 20px; height: 80px; border: 0px; background: #1b5ac2; outline: none; float: right; color: #ffffff;}
#searchOption {height: 25px; width: 80px; border: 1px solid #1b5ac2; outline: none; background: #ffffff;}

.QNA_list {border-top:2px solid #252525;border-bottom:1px groove #ccc;border-right-width:2px solid #252525;border-left-width:2px solid #252525;border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;}
.QNA_list thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle;color:#red}
.QNA_list tbody td {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.QNA_list tbody tr {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.QNA_list tbody td.title {text-align:left; padding-left:20px}
.QNA_list tbody td a {display:inline-block}

.adminMain {border-top:2px solid #252525;border-bottom:1px groove #ccc;border-right:1px groove #ccc;border-left:1px groove #ccc;border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;}
.adminMain thead th:{text-align:center;background:#f7f7f7;color:#3b3a3a}
.adminMain thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle;color:#red}
.adminMain tbody td {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle;background:mistyrose;color:#800080}
.adminMain tbody tr {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.adminMain tbody td {text-align:left; padding-left:20px}
.adminMina tbody td a {display:inline-block;}

.notice_write {border-top:2px solid #252525;border-bottom:1px groove #ccc;border-right:1px groove #252525;border-left:1px groove #252525;border-right-width:2px solid #252525;border-left-width:2px solid #252525;border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;}
.notice_write thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle;color:#red}
.notice_write tbody td {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.notice_write tbody tr {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.notice_write tbody td {text-align:left; padding-left:20px}
.notice_write tbody td a {display:inline-block}

.notice_detail {border-top:2px solid #252525;border-bottom:1px groove #ccc;border-right:1px groove #252525;border-left:1px groove #252525;border-right-width:2px solid #252525;border-left-width:2px solid #252525;border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;}
.notice_detail thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle;color:#red}
.notice_detail tbody td {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.notice_detail tbody tr {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.notice_detail tbody td {text-align:left; padding-left:20px;}
.notice_detail tbody td a {display:inline-block}

.notice_ModifyForm {border-top:2px solid #252525;border-bottom:1px groove #ccc;border-right:1px groove #252525;border-left:1px groove #252525;border-right-width:2px solid #252525;border-left-width:2px solid #252525;border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;}
.notice_ModifyForm thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle;color:#red}
.notice_ModifyForm tbody td {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.notice_ModifyForm tbody tr {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.notice_ModifyForm tbody td {text-align:left; padding-left:20px}
.notice_ModifyForm tbody td a {display:inline-block}

.QNA_detail {border-top:2px solid #252525;border-bottom:1px groove #ccc;border-right:1px groove #252525;border-left:1px groove #252525;border-right-width:2px solid #252525;border-left-width:2px solid #252525;border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;}
.QNA_detail thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle;color:#red}
.QNA_detail tbody td {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.QNA_detail tbody tr {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.QNA_detail tbody td {text-align:left; padding-left:20px}
.QNA_detail tbody td a {display:inline-block}

.QNA_CommentList {border-top:2px solid #252525;border-bottom:1px groove #ccc;border-right:1px groove #252525;border-left:1px groove #252525;border-right-width:2px solid #252525;border-left-width:2px solid #252525;border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;}
.QNA_CommentList thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle;color:#red}
.QNA_CommentList tbody td {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.QNA_CommentList tbody tr {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.QNA_CommentList tbody td {text-align:left; padding-left:20px}
.QNA_CommentList tbody td a {display:inline-block}

.user_list {border-top:2px solid #252525;border-bottom:1px groove #ccc;border-left:1px groove;border-right:1px groove; }
.user_list thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle;color:#red}
.user_list tbody td {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle;}
.user_list tbody tr {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.user_list tbody tr:nth-child(even) {background:#d3d3d3;}
.user_list tbody td.title {text-align:left; padding-left:20px}
.user_list tbody td a {display:inline-block}

.spacebox {border:2px solid #999999;border-radius: 0px 10px 10px 0px / 0px 10px 10px 0px;}
.box1 {float:left;width:200px;border-right:2px solid #999999;}
.box2 {float:left;width:500px;}
.box3 {border-left:2px solid #999999;display:inline-block;width:192px;border-radius: 10px 0px 0px 10px / 10px 0px 0px 10px;}

.pad_5 {padding: 5px;}

<!--밑에는 셈플-->
.notice_view {width:50%;border-top:2px solid #252525;border-bottom:1px solid #ccc}
.notice_view tbody th {text-align:left;background:#f7f7f7;color:#3b3a3a}
.notice_view tbody th.list_tit {font-size:13px;color:#000;letter-spacing:0.1px}
.notice_view tbody .no_line_b th, .notice_view tbody .no_line_b td {border-bottom:none}
.notice_view tbody th, .notice_view tbody td {padding:15px 0 16px 16px;border-bottom:1px solid #ccc}
.notice_view tbody td.view_text {border-top:1px solid #ccc; border-bottom:1px solid #ccc;padding:45px 18px 45px 18px}
.notice_view tbody th.th_file {padding:0 0 0 15px; vertical-align:middle}

.wdp_90 {width:90%}
.btn {border-radius:3px;padding:5px 11px;color:#fff !important; display:inline-block; background-color:#6b9ab8; border:1px solid #56819d;vertical-align:middle}